In [26]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

Configraciones iniciales para el  proyecto3

In [20]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [21]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [22]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

In [23]:
spark

In [24]:
sc

Leer el archivo con los datos que se encuentra en google drive

In [27]:
df=spark.read.csv('gdrive/MyDrive/Colab Notebooks/Casos_positivos_de_COVID-19_en_Colombia..csv',inferSchema=True,header=True)

2.1 Columnas

In [28]:
df.columns

['fecha reporte web',
 'ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA departamento',
 'Nombre departamento',
 'Código DIVIPOLA municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código ISO del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

2.2 Tipos de datos

In [29]:
df.printSchema()

root
 |-- fecha reporte web: timestamp (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: timestamp (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: timestamp (nullable = true)
 |-- Fecha de muerte: timestamp (nullable = true)
 |-- Fecha de diagnóstico: timestamp (nullable = true)
 |-- Fecha de recuperación: timestamp (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

2.3 Seleccionar algunas columnas

In [31]:
df.select('Sexo').show()

+----+
|Sexo|
+----+
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   F|
|   M|
|   M|
|   F|
|   F|
|   F|
+----+
only showing top 20 rows

2.4 Renombrar columnas

In [32]:
df.withColumnRenamed('Nombre del país','Paises')

DataFrame[fecha reporte web: timestamp, ID de caso: int, Fecha de notificación: timestamp, Código DIVIPOLA departamento: int, Nombre departamento: string, Código DIVIPOLA municipio: int, Nombre municipio: string, Edad: int, Unidad de medida de edad: int, Sexo: string, Tipo de contagio: string, Ubicación del caso: string, Estado: string, Código ISO del país: int, Paises: string, Recuperado: string, Fecha de inicio de síntomas: timestamp, Fecha de muerte: timestamp, Fecha de diagnóstico: timestamp, Fecha de recuperación: timestamp, Tipo de recuperación: string, Pertenencia étnica: int, Nombre del grupo étnico: string]

2.5 Agregar columnas

In [33]:
df.withColumn('Años', df['Edad'])

DataFrame[fecha reporte web: timestamp, ID de caso: int, Fecha de notificación: timestamp, Código DIVIPOLA departamento: int, Nombre departamento: string, Código DIVIPOLA municipio: int, Nombre municipio: string, Edad: int, Unidad de medida de edad: int, Sexo: string, Tipo de contagio: string, Ubicación del caso: string, Estado: string, Código ISO del país: int, Nombre del país: string, Recuperado: string, Fecha de inicio de síntomas: timestamp, Fecha de muerte: timestamp, Fecha de diagnóstico: timestamp, Fecha de recuperación: timestamp, Tipo de recuperación: string, Pertenencia étnica: int, Nombre del grupo étnico: string, Años: int]

2.6 Borrar columnas

In [34]:
df.drop('Años')

DataFrame[fecha reporte web: timestamp, ID de caso: int, Fecha de notificación: timestamp, Código DIVIPOLA departamento: int, Nombre departamento: string, Código DIVIPOLA municipio: int, Nombre municipio: string, Edad: int, Unidad de medida de edad: int, Sexo: string, Tipo de contagio: string, Ubicación del caso: string, Estado: string, Código ISO del país: int, Nombre del país: string, Recuperado: string, Fecha de inicio de síntomas: timestamp, Fecha de muerte: timestamp, Fecha de diagnóstico: timestamp, Fecha de recuperación: timestamp, Tipo de recuperación: string, Pertenencia étnica: int, Nombre del grupo étnico: string]

2.7 filtrar datos

In [35]:
df.filter(df['Edad'] == 64).show()

+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+-------------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|  fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|   Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|   Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|    Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+-------------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|2020-12-24 00:00:00|   1556987|  2020-12-18 00:00:00|                          76|              VALLE|                    76001|               CALI|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-15 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-30 00:00:00|              Tiempo|                 6|                   NULL|
|2020-11-08 00:00:00|   1137444|  2020-11-03 00:00:00|                          66|          RISARALDA|                    66682|SANTA ROSA DE CABAL|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-31 00:00:00|               NULL| 2020-11-07 00:00:00|  2020-11-15 00:00:00|              Tiempo|                 6|                   NULL|
|2020-11-08 00:00:00|   1137452|  2020-11-05 00:00:00|                          11|             BOGOTA|                    11001|             BOGOTA|  64|                       1|   M|     Relacionado|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-31 00:00:00|               NULL| 2020-11-06 00:00:00|  2020-11-15 00:00:00|              Tiempo|                 6|                   NULL|
|2020-08-17 00:00:00|    476179|  2020-08-05 00:00:00|                           5|          ANTIOQUIA|                     5001|           MEDELLIN|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-08-01 00:00:00|               NULL| 2020-08-16 00:00:00|  2021-01-25 00:00:00|                 PCR|                 6|                   NULL|
|2020-07-25 00:00:00|    238785|  2020-07-21 00:00:00|                          11|             BOGOTA|                    11001|             BOGOTA|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-07-17 00:00:00|               NULL| 2020-07-24 00:00:00|  2020-08-15 00:00:00|              Tiempo|                 6|                   NULL|
|2020-07-18 00:00:00|    186967|  2020-06-30 00:00:00|                       13001|          CARTAGENA|                    13001|          CARTAGENA|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-06-27 00:00:00|               NULL| 2020-07-11 00:00:00|  2020-07-27 00:00:00|              Tiempo|                 6|                   NULL|
|2020-09-23 00:00:00|    781896|  2020-09-11 00:00:00|                           5|          ANTIOQUIA|                     5101|            BOLIVAR|  64|                       1|   M|     Relacionado|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-09-07 00:00:00|               NULL| 2020-09-22 00:00:00|  2020-09-27 00:00:00|              Tiempo|                 6|                   NULL|
|2020-07-18 00:00:00|    186911|  2020-06-30 00:00:00|                        8001|       BARRANQUILLA|                     8001|       BARRANQUILLA|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-06-27 00:00:00|               NULL| 2020-07-11 00:00:00|  2020-07-27 00:00:00|                 PCR|                 5|                   NULL|
|2020-09-03 00:00:00|    640688|  2020-08-21 00:00:00|                          68|          SANTANDER|                    68547|        PIEDECUESTA|  64|                       1|   M|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-08-16 00:00:00|2020-09-15 00:00:00| 2020-09-01 00:00:00|                 NULL|                NULL|                 6|                   NULL|
|2020-09-03 00:00:00|    640710|  2020-08-21 00:00:00|                          68|          SANTANDER|                    68547|        PIEDECUESTA|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-08-16 00:00:00|               NULL| 2020-09-01 00:00:00|  2020-09-08 00:00:00|                 PCR|                 6|                   NULL|
|2020-06-25 00:00:00|     78575|  2020-06-23 00:00:00|                          25|       CUNDINAMARCA|                    25307|           GIRARDOT|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-06-16 00:00:00|               NULL| 2020-06-25 00:00:00|  2020-07-16 00:00:00|              Tiempo|                 6|                   NULL|
|2020-11-08 00:00:00|   1137707|  2020-11-04 00:00:00|                          66|          RISARALDA|                    66170|       DOSQUEBRADAS|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-30 00:00:00|               NULL| 2020-11-04 00:00:00|  2020-11-14 00:00:00|              Tiempo|                 6|                   NULL|
|2020-06-25 00:00:00|     78503|  2020-06-19 00:00:00|                          70|              SUCRE|                    70001|          SINCELEJO|  64|                       1|   F|     Relacionado|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-06-19 00:00:00|               NULL| 2020-06-25 00:00:00|  2020-07-19 00:00:00|              Tiempo|                 6|                   NULL|
|2021-01-07 00:00:00|   1734635|  2021-01-02 00:00:00|                          76|              VALLE|                    76001|               CALI|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-26 00:00:00|               NULL| 2021-01-06 00:00:00|  2021-01-10 00:00:00|              Tiempo|                 6|                   NULL|
|2021-01-07 00:00:00|   1734666|  2021-01-03 00:00:00|                          76|              VALLE|                    76001|               CALI|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-27 00:00:00|               NULL| 2021-01-05 00:00:00|  2021-01-11 00:00:00|              Tiempo|                 6|                   NULL|
|2020-08-05 00:00:00|    337836|  2020-08-01 00:00:00|                          66|          RISARALDA|                    66170|       DOSQUEBRADAS|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-08-01 00:00:00|               NULL| 2020-08-04 00:00:00|  2021-01-18 00:00:00|              Tiempo|                 5|                   NULL|
|2020-07-31 00:00:00|    288951|  2020-07-22 00:00:00|                       13001|          CARTAGENA|                    13001|          CARTAGENA|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-07-21 00:00:00|               NULL| 2020-07-30 00:00:00|  2020-08-12 00:00:00|                 PCR|                 6|                   NULL|
|2020-07-25 00:00:00|    238327|  2020-07-18 00:00:00|                          11|             BOGOTA|                    11001|             BOGOTA|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-07-18 00:00:00|               NULL| 2020-07-24 00:00:00|  2020-08-16 00:00:00|              Tiempo|                 6|                   NULL|
|2020-12-06 00:00:00|   1365163|  2020-12-01 00:00:00|                          11|             BOGOTA|                    11001|             BOGOTA|  64|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-11-27 00:00:00|               NULL| 2020-12-04 00:00:00|  2020-12-11 00:00:00|              Tiempo|                 6|                   NULL|
|2020-12-06 00:00:00|   1365170|  2020-12-04 00:00:00|                          11|             BOGOTA|                    11001|             BOGOTA|  64|                       1|   M|     Relacionado|              Casa|     Leve|               NULL|           NULL|Recuperado|                       NULL|               NULL| 2020-12-05 00:00:00|  2020-12-20 00:00:00|              Tiempo|                 6|                   NULL|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+-------------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+
only showing top 20 rows

2.8 Ejecutar funcion

In [36]:
from pyspark.sql.functions import col, when

df = df.withColumn("EsMenor", when(col("Edad") < 18, True).otherwise(False))
df.show(10)

+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+-------+
|  fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|   Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|    Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|EsMenor|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+-------+
|2020-12-24 00:00:00|   1556979|  2020-12-22 00:00:00|                          76|              VALLE|                    76001|            CALI|  67|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556980|  2020-12-19 00:00:00|                          76|              VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-07 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-25 00:00:00|              Tiempo|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556981|  2020-12-19 00:00:00|                          76|              VALLE|                    76001|            CALI|  68|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-18 00:00:00|               NULL| 2020-12-22 00:00:00|  2021-01-01 00:00:00|              Tiempo|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556982|  2020-12-22 00:00:00|                          76|              VALLE|                    76001|            CALI|  74|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-17 00:00:00|2020-12-30 00:00:00| 2020-12-23 00:00:00|                 NULL|                NULL|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556983|  2020-12-22 00:00:00|                          76|              VALLE|                    76001|            CALI|  65|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556984|  2020-12-15 00:00:00|                          76|              VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-09 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-25 00:00:00|              Tiempo|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556985|  2020-12-21 00:00:00|                          76|              VALLE|                    76001|            CALI|  74|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-14 00:00:00|               NULL| 2020-12-22 00:00:00|  2020-12-28 00:00:00|              Tiempo|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556986|  2020-12-18 00:00:00|                          76|              VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-11 00:00:00|2020-12-26 00:00:00| 2020-12-22 00:00:00|                 NULL|                NULL|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556987|  2020-12-18 00:00:00|                          76|              VALLE|                    76001|            CALI|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-15 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-30 00:00:00|              Tiempo|                 6|                   NULL|  false|
|2020-12-24 00:00:00|   1556988|  2020-12-17 00:00:00|                          76|              VALLE|                    76001|            CALI|  65|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-08 00:00:00|               NULL| 2020-12-22 00:00:00|  2020-12-25 00:00:00|              Tiempo|                 6|                   NULL|  false|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+------------------+-----------------------+-------+
only showing top 10 rows

3.1 Los 10 departamentos con mas casos de covid en Colombia ordenados de mayor a menor

In [37]:
from pyspark.sql.functions import col

dfDepartamentos = df.groupBy("Nombre departamento").count()
topDepartamentos = dfDepartamentos.orderBy(col("count").desc()).limit(10)
print('DATAFRAME')
topDepartamentos.show()

df.createOrReplaceTempView("covid")
query = """
SELECT `Nombre departamento`, COUNT(*) as casos
FROM covid
GROUP BY `Nombre departamento`
ORDER BY casos DESC
LIMIT 10
"""
topdepartamentos_sql = spark.sql(query)
print('SPARKSQL')
topdepartamentos_sql.show()

DATAFRAME
+-------------------+-------+
|Nombre departamento|  count|
+-------------------+-------+
|             BOGOTA|1888137|
|          ANTIOQUIA| 955271|
|              VALLE| 572724|
|       CUNDINAMARCA| 331331|
|          SANTANDER| 297370|
|       BARRANQUILLA| 277989|
|          CARTAGENA| 163526|
|          ATLANTICO| 141072|
|             BOYACA| 131133|
|             TOLIMA| 127764|
+-------------------+-------+

SPARKSQL
+-------------------+-------+
|Nombre departamento|  casos|
+-------------------+-------+
|             BOGOTA|1888137|
|          ANTIOQUIA| 955271|
|              VALLE| 572724|
|       CUNDINAMARCA| 331331|
|          SANTANDER| 297370|
|       BARRANQUILLA| 277989|
|          CARTAGENA| 163526|
|          ATLANTICO| 141072|
|             BOYACA| 131133|
|             TOLIMA| 127764|
+-------------------+-------+

3.2 Las 10 ciudades con mas casos de covid en Colombia ordenados de mayor a menor

In [38]:
dfCiudades = df.groupBy("Nombre municipio").count()
topCiudades = dfCiudades.orderBy(col("count").desc()).limit(10)
print('DATAFRAME')
topCiudades.show()



query = """
SELECT `Nombre municipio`, COUNT(*) as casos
FROM covid
GROUP BY `Nombre municipio`
ORDER BY casos DESC
LIMIT 10
"""
topCiudades_sql = spark.sql(query)
print('SPARKSQL')
topCiudades_sql.show()

DATAFRAME
+----------------+-------+
|Nombre municipio|  count|
+----------------+-------+
|          BOGOTA|1888137|
|        MEDELLIN| 550790|
|            CALI| 406751|
|    BARRANQUILLA| 277989|
|       CARTAGENA| 163526|
|     BUCARAMANGA| 142842|
|          IBAGUE|  91598|
|     SANTA MARTA|  84863|
|       MANIZALES|  84478|
|          CUCUTA|  77359|
+----------------+-------+

SPARKSQL
+----------------+-------+
|Nombre municipio|  casos|
+----------------+-------+
|          BOGOTA|1888137|
|        MEDELLIN| 550790|
|            CALI| 406751|
|    BARRANQUILLA| 277989|
|       CARTAGENA| 163526|
|     BUCARAMANGA| 142842|
|          IBAGUE|  91598|
|     SANTA MARTA|  84863|
|       MANIZALES|  84478|
|          CUCUTA|  77359|
+----------------+-------+

3.3 Los 10 dias con mas casos de covid en Colombia ordenados de mayor a menor

In [39]:
dfDias = df.groupBy("fecha reporte web").count()
topDias = dfDias.orderBy(col("count").desc()).limit(10)
print('DATAFRAME')
topDias.show()



query = """
SELECT `fecha reporte web`, COUNT(*) as casos
FROM covid
GROUP BY `fecha reporte web`
ORDER BY casos DESC
LIMIT 10
"""
topDias_sql = spark.sql(query)
print('SPARKSQL')
topDias_sql.show()

DATAFRAME
+-------------------+-----+
|  fecha reporte web|count|
+-------------------+-----+
|2022-01-15 00:00:00|35576|
|2022-01-14 00:00:00|34924|
|2021-06-26 00:00:00|33593|
|2021-06-24 00:00:00|32997|
|2021-06-25 00:00:00|32732|
|2021-06-27 00:00:00|32377|
|2022-01-16 00:00:00|32318|
|2022-01-08 00:00:00|31170|
|2022-01-21 00:00:00|31039|
|2022-01-09 00:00:00|30630|
+-------------------+-----+

SPARKSQL
+-------------------+-----+
|  fecha reporte web|casos|
+-------------------+-----+
|2022-01-15 00:00:00|35576|
|2022-01-14 00:00:00|34924|
|2021-06-26 00:00:00|33593|
|2021-06-24 00:00:00|32997|
|2021-06-25 00:00:00|32732|
|2021-06-27 00:00:00|32377|
|2022-01-16 00:00:00|32318|
|2022-01-08 00:00:00|31170|
|2022-01-21 00:00:00|31039|
|2022-01-09 00:00:00|30630|
+-------------------+-----+

3.4 Distribucion de casos por edades de covid en Colombia

In [40]:
dfEdades = df.groupBy("Edad").count()
casosEdades = dfEdades.orderBy(col("count").desc())
print('DATAFRAME')
casosEdades.show()


query = """
SELECT Edad, COUNT(*) as casos
FROM covid
GROUP BY Edad
ORDER BY casos DESC
"""
casosEdades_sql = spark.sql(query)
print('SPARKSQL')
casosEdades_sql.show()

DATAFRAME
+----+------+
|Edad| count|
+----+------+
|  30|152958|
|  29|151462|
|  28|151306|
|  31|149885|
|  27|149393|
|  26|148680|
|  32|146696|
|  25|142829|
|  33|141574|
|  35|140235|
|  34|138847|
|  36|138467|
|  24|135788|
|  38|134881|
|  37|134255|
|  39|133056|
|  40|131115|
|  41|126219|
|  23|125315|
|  42|117987|
+----+------+
only showing top 20 rows

SPARKSQL
+----+------+
|Edad| casos|
+----+------+
|  30|152958|
|  29|151462|
|  28|151306|
|  31|149885|
|  27|149393|
|  26|148680|
|  32|146696|
|  25|142829|
|  33|141574|
|  35|140235|
|  34|138847|
|  36|138467|
|  24|135788|
|  38|134881|
|  37|134255|
|  39|133056|
|  40|131115|
|  41|126219|
|  23|125315|
|  42|117987|
+----+------+
only showing top 20 rows

3.5 Genero mas afectado por covid en colombia

In [41]:
dfGenero = df.groupBy("Sexo").count()
genero = dfGenero.orderBy(col("count").desc())
print('DATAFRAME')
genero.show()



query = """
SELECT Sexo, COUNT(*) as casos
FROM covid
GROUP BY Sexo
ORDER BY casos DESC
"""
genero_sql = spark.sql(query)
print('SPARKSQL')
genero_sql.show()

DATAFRAME
+----+-------+
|Sexo|  count|
+----+-------+
|   F|3417087|
|   M|2973872|
|   f|      6|
|   m|      6|
+----+-------+

SPARKSQL
+----+-------+
|Sexo|  casos|
+----+-------+
|   F|3417087|
|   M|2973872|
|   f|      6|
|   m|      6|
+----+-------+

Coneccion al bucket

In [ ]:
!pip install pyspark
!pip install boto3

In [43]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("data_processing") \
    .master("local[*]") \
    .config("spark.driver.memory", "16G") \
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M") \
    .config("spark.jars.packages", "com.amazonaws:aws-java-sdk:1.11.1034,org.apache.hadoop:hadoop-aws:3.3.4") \
    .config("fs.s3a.access.key", "ASIAU6GDZWZLJS35LOCZ") \
    .config("fs.s3a.secret.key", "7HCjcvAk6cojBXAct4iH+tL5t3ygayC6/uA0Jj9H") \
    .config("fs.s3a.session.token", "IQoJb3JpZ2luX2VjENr//////////wEaCXVzLXdlc3QtMiJIMEYCIQD5JBcXREXvp61twA4FY4g+akRo4otWIA0BmK8KBn8mUQIhAO9QVQx1SFrPud4hh70JD16sbjcghA5S8Sdqls4RZQPTKq8CCGMQABoMMzM5NzEzMDQ2MTAyIgxkvFUfp4YeDqEEdtYqjAJ2hb4pLyIWPgHh1WKxiwNqP3g/WQyR6C92og8d489kAj5Q84/nhnAL1iZ5bsizGi9MWj2BbgBHKS7cFjmzSD/hablFjjmbNX/+o7Gy3919zGil7hilNu4zwQRLyHRSWotP/TGzn4spQ0nsgtbfxHZaYKSUOCqnwFE09N+cW+piE7KcW573AGUHZEOlsn1lKWdM2vXsSjLw62i8V4twRlusgu2rBKhdq78dl/9rw+GGBHN7pcgsw1nYWOOx9acxodRVAf8yf9k6xFCWAAFMAV5F7Gr9HhK3r3BD96sYxzuv6hwG79mHSP/V61oiPHekjSj4cqdez58Je2q+rDXGmHiQIjixkUGzF8TgauS4MMLD7bIGOpwBGd2JndSeb8DKzV4GHt1yBGCDn8UqkGogOUvYsxCfM28NZgE2kdQHKJAIXYP9/M8BQhdj3ZvYRSuK5pT3sxpnJ0rLJkIVP/tj0TAK7mXK8mQuJIQq6qQ5mVn4IeaFVajToiiOSm7lVANBw41HusoxUoJq42AVOFm56ImUFYNYzggGKq4Q8U8Sx5lBM2HnRS4jQqBf6Ea8alYRS/+X") \
    .config("fs.s3a.path.style.access", "true") \
    .config("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("fs.s3a.endpoint", "s3.amazonaws.com") \
    .getOrCreate()

sc = spark.sparkContext

Leer los datos que se encuentran en el bucket

In [44]:
df_s3=spark.read.csv('s3a://pro3bucket/Casos_positivos_de_COVID-19_en_Colombia..csv',inferSchema=True,header=True)

Numeral 3 con datos del bucket

In [45]:
from pyspark.sql.functions import col

dfDepartamentos_s3 = df_s3.groupBy("Nombre departamento").count()
topDepartamentos_s3 = dfDepartamentos_s3.orderBy(col("count").desc()).limit(10)
print('DATAFRAME')
topDepartamentos_s3.show()


query = """
SELECT `Nombre departamento`, COUNT(*) as casos
FROM covid
GROUP BY `Nombre departamento`
ORDER BY casos DESC
LIMIT 10
"""
topdepartamentos_sql_s3 = spark.sql(query)
print('SPARKSQL')
topdepartamentos_sql_s3.show()

DATAFRAME
+-------------------+-------+
|Nombre departamento|  count|
+-------------------+-------+
|             BOGOTA|1888137|
|          ANTIOQUIA| 955271|
|              VALLE| 572724|
|       CUNDINAMARCA| 331331|
|          SANTANDER| 297370|
|       BARRANQUILLA| 277989|
|          CARTAGENA| 163526|
|          ATLANTICO| 141072|
|             BOYACA| 131133|
|             TOLIMA| 127764|
+-------------------+-------+

SPARKSQL
+-------------------+-------+
|Nombre departamento|  casos|
+-------------------+-------+
|             BOGOTA|1888137|
|          ANTIOQUIA| 955271|
|              VALLE| 572724|
|       CUNDINAMARCA| 331331|
|          SANTANDER| 297370|
|       BARRANQUILLA| 277989|
|          CARTAGENA| 163526|
|          ATLANTICO| 141072|
|             BOYACA| 131133|
|             TOLIMA| 127764|
+-------------------+-------+

Subir datos del numeral 3 al bucket

In [46]:
topDepartamentos.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://pro3bucket/3.1TopDepartamentos')
topCiudades.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://pro3bucket/3.2topCiudades')
topDias.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://pro3bucket/3.3topDias')
casosEdades.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://pro3bucket/3.4casosEdades')
genero.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://pro3bucket/3.5genero')